.signup-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.signup-page .main-content {
    width: 350px;
    height: auto;
    padding: 40px 20px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.signup-page .main-content input {
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px 10px;
    width: 100%;
}

.signup-page .main-content button {
    width: 100%;
    border: 1px solid gray;
    background-color: rgb(31, 31, 31);
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 400;
    color: white;
    cursor: pointer;
}

.signup-page .main-content button:hover {
    background-color: rgb(53, 53, 53);
}